{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
    <body class="homepage is-preload">
    <div id="page-wrapper">
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <h2>man must explore and this is exploration at its greatest</h2>
                <p>Culture Trip is a low-cost platform that allows people to discover activities and events from different cultures</p>
                <a href="#main" class="button scrolly">Alright let's go</a>
            </div>
        </section>

        <!-- Main -->
        <section id="main">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-12">
                        <!-- Highlight -->
                        <section class="box highlight">
                            <ul class="special">
                                <li><a href="#" class="icon solid fa-search"><span class="label">search</span></a></li>
                                <li><a href="#" class="icon solid fa-comments"><span class="label">remove reservation</span></a></li>
                                <li><a href="#" class="icon solid fa-heart"><span class="label">favorite</span></a></li>
                                <li><a href="#" class="icon solid fa-check"><span class="label">check</span></a></li>
                            </ul>
                            <header>
                                <h2>get the best deals</h2>
                                <p>You have the ability to explore preferences, discover recommendations, and secure reservations</p>
                            </header>
                            <p>
                                Imagine a world where you can venture beyond the ordinary, discovering hidden gems and unique experiences with just a tap. This isn't a pipe dream, it's the exciting reality offered by our platform! 
                            </p>
                        </section>
                    </div>
                    <div class="col-12">
                        <!-- Features -->
                        <section class="box features">
                            <h2 class="major"><span>Here are some activities for you</span></h2>
                            <div>
                                <div class="row">
                                    <div class="col-3 col-6-medium col-12-small">
                                        <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="{{ 'images/jetsky.jpg' }}" alt="" /></a>
                                            
                                            <h3><a href="#">Jet sky</a></h3>
                                            <p>1Pax :120Dt/15min</p>
                                        </section>
                                    </div>
                                    <div class="col-3 col-6-medium col-12-small">
                                        <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="images/parachute.jpg" alt="" /></a>
                                            <h3><a href="#">Parachute</a></h3>
                                            <p>1Pax : 80Dt/tour</p>
                                        </section>
                                    </div>
                                    <div class="col-3 col-6-medium col-12-small">
                                        <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="images/tyrolienne.jpg" alt="" /></a>
                                            <h3><a href="#">Tyrolienne</a></h3>
                                            <p>1Pax : 300m: 40Dt/tour</p>
                                        </section>
                                    </div>
                                    <div class="col-3 col-6-medium col-12-small">
                                        <!-- Feature -->
                                        <section class="box feature">
                                            <a href="#" class="image featured"><img src="images/skynautique.jpg" alt="" /></a>
                                            <h3><a href="#">Sky nautique</a></h3>
                                            <p>1Pax : 50 Dt/tour</p>
                                        </section>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><a href="#" class="button large">See more</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-12">
                        <!-- Blog -->
                        <section class="box blog">
                            <h2 class="major"><span>Don't miss this incredible event</span></h2>
                            <div>
                                <div class="row">
                                    <div class="col-9 col-12-medium">
                                        <div class="content">
                                            <!-- Featured Post -->
                                            <article class="box post">
                                                <header>
                                                    <h3><a href="#">Event name</a></h3>
                                                    <p>Event lieu</p>
                                                    <ul class="meta">
                                                        <li class="icon fa-clock">15 minutes ago</li>
                                                        <li class="icon fa-comments"><a href="#">8</a></li>
                                                    </ul>
                                                </header>
                                                <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                                                <p>
                                                    Phasellus quam turpis, feugiat sit amet ornare in, a hendrerit in lectus. Praesent semper mod quis eget mi. Etiam sed ante risus aliquam erat et volutpat. Praesent a dapibus velit. Curabitur sed nisi nunc, accumsan vestibulum lectus. Lorem ipsum dolor sit non aliquet sed, tempor et dolor. Praesent a dapibus velit. Curabitur accumsan.
                                                </p>
                                                <a href="#" class="button">See More</a>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="col-3 col-12-medium">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-12">
                        <!-- About -->
                        <section>
                            <h2 class="major"><span>What's this about?</span></h2>
                            <p>
                                CultureTrip is a low-cost platform that allows people to discover activities and events from different cultures, meet each other, and share the experience by posting 
                            </p>
                        </section>
                    </div>
                    <div class="col-12">
                        <!-- Contact -->
                        <section>
                            <h2 class="major"><span>Get in touch</span></h2>
                            <ul class="contact">
                                <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                                <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                                <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                                <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
                                <li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- Scripts -->
                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/jquery.dropotron.min.js"></script>
                <script src="assets/js/jquery.scrolly.min.js"></script>
                <script src="assets/js/browser.min.js"></script>
                <script src="assets/js/breakpoints.min.js"></script>
                <script src="assets/js/util.js"></script>
                <script src="assets/js/main.js"></script>
            </div>
        </footer>
    </div>
</body>
{% endblock %}

