
<nav id="nav">
    <ul>
        <li class="current"><a href="index.html">Home</a></li>
        <li><a href="activiter/index.html.twig">Activiter</a></li>
        <li><a href="events.html.twig">events</a></li>
        <li><a href="posts.html.twig">Posts</a></li>
    </ul>
</nav>
<!-- Header -->
<header id="header">
    <div class="logo container">
        <div>
            <h1><a href="index.html.twig" id="logo"></a>
                <img src="images\logo.png"  height="150" width="150"></h1>
        </div>
    </div>
</header>